<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>airbnb Home</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <header>
      <h1 class="text-red-700 text-5xl" >Welcome to airbnb</h1>
    </header>
    <main>
      
      <h2 class="text-5xl text-gray-800 font-bold text-center mb-6">
        Here are our registered homes:
      </h2>
      
    </main>
  </body>
</html>