<header clas="bg-red-500 ext-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex spae-x-4">
      <li>
        <a 
        href="/" 
        class="<%= currentPage ==='Home' ? 'bg-red-400': 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
        >Home</a
        >
      </li>
      <li>
        <a 
        href="/host/add-home" 
        class="hover:bg-red-400 py-4 px-4 rounded transition duration-300"
        >Add home</a
        >
      </li>
    </ul>
  </nav>
</header>